/* Add this CSS animation class */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* Style for the arrow */
.arrow-down {
    animation: bounce 2s infinite;
}

/* Hide the scrollbar but allow scrolling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/cruxtrackDashboardBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.dashboard {
    padding: 20px;
    text-align: center;
}